{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    .line {
  display: inline-block;
  width: 100%;
  border-top: 0.1px solid rgb(52, 52, 52);
}
</style>
<br><br>
          <div class="mt-5">
            <div class="text-center">
                <h5 class="bg-light" > Details of your session
                    <span class="badge bg-secondary">{{clients.date_added}}</span>
                </h5>
            </div>

            <br>
            

            <div class="row">
              <div class="col"></div>
              <div class="col text-center">Name : <strong> {{clients.first_name_S}}  {{clients.last_name_S}}  </strong></div>
              <div class="col text-center">Total Session(s) : <strong>{{ session_times|length }}</strong></div>
              <div class="col"></div>
            </div>

            <div class="row gx-5">
   
              <!-- <h5 class="text-center"> Coaching Details</h5> -->
  
              <div class="row gx-5 text-center ">
                  <div>
                      coaching type course : <strong>{{clients.coaching_type_course  }}</strong> 
                  </div>
                      <br> <br>
                  <div>
                    {% if clients.coaching_type_course.title.strip|lower not in "personal coaching"|lower %}
                        Review a call at :
                        {% endif %}
                    {% for session_time in session_times %} 
                  </div>

                  <div>
                    <p> <strong>{{ forloop.counter }}</strong> - {{ session_time|safe  }} <br> </p> 
                    {% endfor %}
                  </div>
              </div>          
              
              <span class='line'></span>
              <div class="d-flex flex-column align-items-end mt-5">
                <div class="text-center">
                   <h5 class="fst-italic"> EdifyLabs  </h5>
     
                    Printed on : {{DT}} <br>
                    By : {{auth_user}} <br> <br>
                    <a href="{% url 'all_scheduled_clients' %}" title="back" class="btn">
                      <i class="fa-solid fa-square-caret-left fs-3" style="color: #555f72;"></i>
                  </a>
                    
                    <button class="download-btn">Downloaded As PDF</button>
                </div>
              </div>
          </div>


<script>
    const downloadBtn = document.querySelector(".download-btn");

downloadBtn.addEventListener("click", () => {
  window.print();
});
</script>

{% endblock content %}