{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<title>HOME | CLIENT | Edify Lab's Business Tool </title>

{% block content %}
<style>
  input:required {
    border: 1px solid #64e1f8;
  }
  select:required{
    border: 1px solid #64e1f8;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<br> <br> <br>
<div class="container mt-3">

  <div class="row ">
    <div class="col-6">
      <p class="float-start">  👋 Hello <strong>{{auth_user}}</strong>, -> CLIENT </p>
    </div>

    <div class="col-6">
      <p class="float-end"> <i class="fa-solid fa-users"></i> Total clients : <strong> {{total_clients}}</strong></p>
    </div>  
  </div>

</div>
 

<div style="width: 80%;" class="container mt-3">

    
  <form action="" method="post" autocomplete="off" class="bg-white  p-3  rounded" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    {% csrf_token %}

    <div class="alert alert-warning alert-dismissible fade show  text-center " role="alert">
      <strong>Add a new client here</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

      <div class="row g-3 mt-2">

        <div class="row mt-2">
          <div class="col-sm-5">
            <label for="firstName" class="form-label">First name</label>
            {{ClientForm.first_name|as_crispy_field}}
          </div>
  
          <div class="col-sm-5">
            <label for="lastName" class="form-label">Last name</label>
            {{ClientForm.last_name|as_crispy_field}}
          </div>

          <div class="col-2">
            <label for="gender" class="form-label">Gender</label>
            {{ClientForm.gender|as_crispy_field|safe}}
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4">
            <label for="dob" class="form-label">Date of birth</label>
            {{ClientForm.date_of_birth|as_crispy_field}}
          </div>
  
          <div class="col-4">
            <label for="address" class="form-label">Address</label>
            {{ClientForm.address|as_crispy_field}}
          </div>
  
          <div class="col-4">
            <label for="email" class="form-label">Email</label>
            {{ClientForm.email_id|as_crispy_field}}
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-4">
            <label for="contact" class="form-label">Contact</label>
            {{ClientForm.contact|as_crispy_field}}
          </div>
  
          <div class="col-4">
            <label for="cmpname" class="form-label">Company Name</label>
            {{ClientForm.company_name|as_crispy_field}}
          </div>
          <div class="col-md-4" >
            <label for="coaching" class="form-label">Coaching Type</label>
            {{ClientForm.coaching_type_course|as_crispy_field|safe}}
            
          </div>
        </div>

      </div>
      <hr>
      <div class="row  mt-4 ">
       
        <div class="col-md-12 text-center ">
          <button style="background-color:#4D99F6;" type="submit" class="btn  btn-block btn-lg text-white float-end ">
            <i class="fa-solid fa-check" style="color: #ffffff;"></i>
              Save Client
          </button>
          <button class="btn btn-secondary float-end align-items-center m-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
            <i class="fa-regular fa-hand"></i>
           </button>

        </div>
      </div>

  </form>


</div>

<!-- OFF CANVAS -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Where you want to redirect ?</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="container">
      <div class="row text-center">
        <div class="col-sm">
          <a href="{% url 'clients_list' %}"  target="_blank" class="btn btn-outline-success">
            <i class="fa-solid fa-reply-all fa-flip-horizontal"></i> GO TO All CLIENTS
          </a>
        </div>

        <div class="col-sm">
          <a href="{% url 'all_scheduled_clients' %}" target="_blank" class="btn btn-outline-success">
            <i class="fa-solid fa-reply-all fa-flip-horizontal"></i> GO TO ALL SCHEDULED CLIENTS
          </a>
        </div>

        <div class="col-sm">
          <a href="{% url 'schedule_client' %}" target="_blank" class="btn btn-outline-success">
            <i class="fas fa-plus"></i>  SCHEDULE A CLIENT
        </a>
        </div>
      </div>
    </div>

  </div>
</div>
{% include 'footer.html' %}
{% endblock %}
 