{% extends 'base.html' %}

<title>Edify | SignUp</title>
{% block content %}
<style>
  body{
    background-color: #eee;
  }
</style>

<!-- main - top -->
<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4 img-thumbnail" src="https://img.freepik.com/free-photo/blank-note-with-thumbtack_1156-450.jpg?w=740&t=st=1678299737~exp=1678300337~hmac=d93454566d0c3b694a10b20cc7a6ec09ab4fa2f70c61c8165aea03882554f586" alt="" width="72" height="57">
  <h1 class="display-4 fw-bold"> Don't lose a thought, make a <span class="text-warning bg-dark">note </span> </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> <a class=" text-white" href="#log">GET INTO IT</a> </button>
    </div>
  </div>
</div>

<section class="">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 mt-4">
                                      
                {% if Error_message %}
                  
                  <div class="alert alert-danger" role="alert">
                    Please check your fields!
                  </div>
                {% endif %}
                {% if pass_error %}
                  
                <div class="alert alert-danger" role="alert">
                  Password fields are not matching!
                </div>
              {% endif %}

    
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-secondary text-center" role="alert">
                  {{message}}
              </div>
              {% endfor %}
            {% endif %}

              
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" id="signuptag" action="" method="POST" id="log">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control empty" placeholder="Your username" name="name" />
                      </div>

                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" name="email" 
                        placeholder="Your Email" />
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" name="pwd" 
                        placeholder="Your Password" />
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" class="form-control" name="pwdfinal"
                        placeholder="Repeat your password" />
                      </div>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <p>Already a member? <a href="{% url 'loginPage' %}">Login</a></p>
                    </div>
  

  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img  src="https://img.freepik.com/free-vector/notebook-concept-illustration_114360-2536.jpg?w=740&t=st=1678298499~exp=1678299099~hmac=0415e7c5f609431c49b40f1a5497a67c8dca907239b90e6ff4639b91e92b5099"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section> 

{% include 'footer.html' %}
{% endblock %}